# Beispiel

In [2]:
import pandas as pd
df = pd.DataFrame({
   "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
          "Bonnell, Miss. Elizabeth",
          "Petty, Tom"],
    "Age": [22, 62, 58, 26],
   "Gender": ["male", "male", "female", "female"]}
  )

# Dataframe-Informationen ausgeben
print( "\n -------- Data")
print( df )
print( "\n -------- Head")
print( df.head(2) )
print( "\n -------- Tail")
print( df.tail(1) )
print( "Anzahl der Zeilen : ", len(df))
print( "Shape             : ", df.shape)

 -------- Data
                       Name  Age  Gender
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   62    male
2  Bonnell, Miss. Elizabeth   58  female
3                Petty, Tom   26  female

 -------- Head
                       Name  Age Gender
0   Braund, Mr. Owen Harris   22   male
1  Allen, Mr. William Henry   62   male

 -------- Tail
         Name  Age  Gender
3  Petty, Tom   26  female
Anzahl der Zeilen :  4
Shape             :  (4, 3)

# Ãœberlock verschaffen

In [11]:
import pandas as pd
df = pd.DataFrame({
   "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
          "Bonnell, Miss. Elizabeth",
          "Petty, Tom"],
    "Age": [22, 62, 58, 26],
   "Gender": ["male", "male", "female", "female"]}
  )

print( "\n Head:")
print( df.head(2) )

print( "\n Tail:")
print( df.tail(1) )

print( "Anzahl der Zeilen : ", len(df))
print( "Shape             : ", df.shape)
df.describe()

 Head:
                       Name  Age Gender
0   Braund, Mr. Owen Harris   22   male
1  Allen, Mr. William Henry   62   male

 Tail:
         Name  Age  Gender
3  Petty, Tom   26  female
Anzahl der Zeilen :  4
Shape             :  (4, 3)

             Age
count   4.000000
mean   42.000000
std    20.912516
min    22.000000
25%    25.000000
50%    42.000000
75%    59.000000
max    62.000000

In [8]:
import pandas as pd
df = pd.DataFrame({
   "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
          "Bonnell, Miss. Elizabeth",
          "Petty, Tom"],
    "Age": [22, 62, 58, 26],
   "Gender": ["male", "male", "female", "female"]}
  )

teil_df = df[["Age", "Gender"]]
print ( teil_df )

   Age  Gender
0   22    male
1   62    male
2   58  female
3   26  female

# df -> numpy

In [6]:
import pandas as pd
df = pd.DataFrame({
   "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
          "Bonnell, Miss. Elizabeth",
          "Petty, Tom"],
    "Age": [22, 62, 58, 26],
   "Gender": ["male", "male", "female", "female"]}
  )

teil_df = df[["Age", "Gender"]]
arr = teil_df.to_numpy()
print( arr )
print(type(arr))
print(arr.shape)

[['Braund, Mr. Owen Harris' 22 'male']
 ['Allen, Mr. William Henry' 62 'male']
 ['Bonnell, Miss. Elizabeth' 58 'female']
 ['Petty, Tom' 26 'female']]
(4, 3)
<class 'numpy.ndarray'>
object