# Beispiel

In [1]:
import pandas as pd
df = pd.DataFrame({
   "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
          "Bonnell, Miss. Elizabeth",
          "Petty, Tom"],
    "Age": [22, 62, 58, 26],
   "Gender": ["male", "male", "female", "female"]}
  )

# Dataframe-Informationen ausgeben
print( "\n -------- Data")
print( df )
print( "\n -------- Head")
print( df.head(2) )
print( "\n -------- Tail")
print( df.tail(1) )
print( "Anzahl der Zeilen : ", len(df))
print( "Shape             : ", df.shape)
print( "Columns :" )
print( df.columns )
print( "Index :" )
print( df.index )

ModuleNotFoundError: No module named 'pandas'

# Überblick verschaffen

In [11]:
import pandas as pd
df = pd.DataFrame({
   "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
          "Bonnell, Miss. Elizabeth",
          "Petty, Tom"],
    "Age": [22, 62, 58, 26],
   "Gender": ["male", "male", "female", "female"]}
  )

print( "\n Head:")
print( df.head(2) )

print( "\n Tail:")
print( df.tail(1) )

print( "Anzahl der Zeilen : ", len(df))
print( "Shape             : ", df.shape)
df.describe()

 Head:
                       Name  Age Gender
0   Braund, Mr. Owen Harris   22   male
1  Allen, Mr. William Henry   62   male

 Tail:
         Name  Age  Gender
3  Petty, Tom   26  female
Anzahl der Zeilen :  4
Shape             :  (4, 3)

             Age
count   4.000000
mean   42.000000
std    20.912516
min    22.000000
25%    25.000000
50%    42.000000
75%    59.000000
max    62.000000

In [14]:
import pandas as pd
df = pd.DataFrame({
   "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
          "Bonnell, Miss. Elizabeth",
          "Petty, Tom"],
    "Age": [22, 62, 58, 26],
   "Gender": ["male", "male", "female", "female"]}
  )

teil_df = df[["Age", "Gender"]]
print ( teil_df )

   Age  Gender
0   22    male
1   62    male
2   58  female
3   26  female

# Spalte auswählen

In [18]:
import pandas as pd
df = pd.DataFrame({
   "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
          "Bonnell, Miss. Elizabeth",
          "Petty, Tom"],
    "Age": [22, 62, 58, 26],
   "Gender": ["male", "male", "female", "female"]}
  )

spalte = df["Age"]
print ( spalte)
print( type( spalte ) )

0    22
1    62
2    58
3    26
Name: Age, dtype: int64
<class 'pandas.core.series.Series'>

# Teil-Dataframe erzeugen

In [1]:
import pandas as pd
df = pd.DataFrame({
   "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
          "Bonnell, Miss. Elizabeth",
          "Petty, Tom"],
    "Age": [22, 62, 58, 26],
   "Gender": ["male", "male", "female", "female"]}
  )

df_teil = df[ ["Age", "Gender"] ]# <--
print ( df_teil )
print( type( df_teil ) )

   Age  Gender
0   22    male
1   62    male
2   58  female
3   26  female
<class 'pandas.core.frame.DataFrame'>

# Unique Values

In [3]:

print( df.nunique() )
print( type (df.nunique() ) )

Name      4
Age       4
Gender    2
dtype: int64
<class 'pandas.core.series.Series'>

# df -> numpy

In [21]:
import pandas as pd
df = pd.DataFrame({
   "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
          "Bonnell, Miss. Elizabeth",
          "Petty, Tom"],
    "Age": [22, 62, 58, 26],
   "Gender": ["male", "male", "female", "female"]}
  )

arr = df.to_numpy() # geht auch mit Series!
print( arr )
print("Type  : ", type(arr))
print("Shape : ", arr.shape)

[22 62 58 26]
Type  :  <class 'numpy.ndarray'>
Shape :  (4,)

# Spaltennumane ändern

In [5]:
import pandas as pd
df = pd.DataFrame({
   "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
          "Bonnell, Miss. Elizabeth",
          "Petty, Tom"],
    "Age": [22, 62, 58, 26],
   "Gender": ["male", "male", "female", "female"]}
  )

print( df.head(3) )

df.columns=["Nachname", "Alter", "Geschlecht"]  # <-- Änderung
print(" \nNach Änderung : ")
print( df.head(3) )

                       Name  Age  Gender
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   62    male
2  Bonnell, Miss. Elizabeth   58  female

Nach Änderung :
                   Nachname  Alter Geschlecht
0   Braund, Mr. Owen Harris     22       male
1  Allen, Mr. William Henry     62       male
2  Bonnell, Miss. Elizabeth     58     female

# Filtern

In [2]:
import pandas as pd
df = pd.DataFrame({
   "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
          "Bonnell, Miss. Elizabeth",
          "Petty, Tom"],
    "Age": [22, 62, 58, 26],
   "Gender": ["male", "male", "female", "female"]}
  )
filter = (df["Gender"] == "female")
df_female = df[filter]
print( df_female )

                       Name  Age  Gender
2  Bonnell, Miss. Elizabeth   58  female
3                Petty, Tom   26  female

# Gruppieren

In [4]:
import pandas as pd
df = pd.DataFrame({
   "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
          "Bonnell, Miss. Elizabeth",
          "Petty, Tom"],
    "Age": [22, 62, 58, 26],
   "Gender": ["male", "male", "female", "female"]}
  )

print("\n\n Guppierung:")
grouping = df.groupby(['Gender'])

print("\n\n count:")
print (grouping.count())

print("\n\n mean:")
print (grouping.mean())

print("\n\n min:")
print (grouping.min())

print("\n\n max:")
print (grouping.max())

print("\n\n median:")
print (grouping.median())

 Guppierung:


 count:
        Name  Age
Gender
female     2    2
male       2    2


 mean:
         Age
Gender
female  42.0
male    42.0


 min:
                            Name  Age
Gender
female  Bonnell, Miss. Elizabeth   26
male    Allen, Mr. William Henry   22


 max:
                           Name  Age
Gender
female               Petty, Tom   58
male    Braund, Mr. Owen Harris   62


 median:
         Age
Gender
female  42.0
male    42.0
male      2
female    2
Name: Gender, dtype: int64