# Lade nur virg und versi

In [2]:
import pandas as pd
from sklearn import datasets

iris = datasets.load_iris()
iris_df = pd.DataFrame(iris.data)
iris_df['class']=iris.target_names[iris.target ]
iris_df.columns=['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class']
iris_df = iris_df[50:]
iris_df.describe()

        sepal_len   sepal_wid   petal_len   petal_wid
count  100.000000  100.000000  100.000000  100.000000
mean     6.262000    2.872000    4.906000    1.676000
std      0.662834    0.332751    0.825578    0.424769
min      4.900000    2.000000    3.000000    1.000000
25%      5.800000    2.700000    4.375000    1.300000
50%      6.300000    2.900000    4.900000    1.600000
75%      6.700000    3.025000    5.525000    2.000000
max      7.900000    3.800000    6.900000    2.500000

## Analyse (Baumaufteilung)

In [4]:
filter_crit = (iris_df["petal_len"] <= 4)
filter_ver  = (iris_df["class"] == "versicolor")
filter_vir  = (iris_df["class"] == "virginica")

print( "Total      : ", iris_df[ filter_crit]["class"].count() )
print( "Versicolor : ", iris_df[ filter_crit & filter_ver]["class"].count() )
print( "Virginica  : ", iris_df[ filter_crit & filter_vir]["class"].count() )

Total      :  100
Versicolor :  16
Virginica  :  0